@import "vendors/bootstrap";
@import "variables.scss";

body {
    font-size: $base-font-size;
    color: $text-color;
    overflow-x: hidden;
    position: relative;
}

.container-fluid {
    padding-bottom: 0 !important;
}